{% extends "base.html" %}

{% block title %} Gestion de Inventario{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4 offset-md-4">
         <h2>Edicion de Producto</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarProducto/" method="post">{% csrf_token %}
                    <div class="form-group">
                        <input type="number" id="numCodigo" name="numCodigo" value="{{ producto.codigo }}" class="form-control" placeholder="Codigo" minlength="6" maxlength="6" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" value="{{ producto.nombre }}" class="form-control" placeholder="Nombre"  maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtTipo" name="txtTipo" value="{{ producto.tipo }}" class="form-control" placeholder="Tipo"  maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
        </div>
    </div>
{% endblock %}